/* ---------
 Fancy Shit
--------- */

@media screen {
    #title, #bingo, .tile, #by {
        mix-blend-mode: screen;
    }
}

@media print {
    .noprint {
        display: none;
    }
}

.fancy {
    background-image: url("bg.svg");
    background-size: cover;
}

/* -----
  Sizes
----- */
/* sizes here are if user has no javascript */
/*
assume: window height 700px
assume: aspect ratio 10/12
card width and bingo height is 700*10/12
title is 700*2/12
colophon is 10% of final height
final height is 700 / .90 = 778
*/
#card {
    background-color: black;
    width: 583px;
}

#title {
    height: 117px;
}

#title img {
    margin-top: 11%;
    margin-bottom: 2%;
}

#bingo {
    height: 583px;
    width: 100%;
}

#by {
    height: 10%;
    padding-top: 4.5%;
}

/* ----
 Types
---- */

body, button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 0.95;
    text-transform: uppercase;
    text-decoration: none;
    hyphens: auto;
}

.tile-text {
    text-align: center;
}

#by {
    font-size: 11px;
    text-align: center;
    line-height: 1.25;
}

.noprint, .noprint button {
    font-size: 10px;
}

/* -----
 Colors
----- */

#title, .tile, #by, a, a:hover, a:visited {
    background: white;
    color: black;
}

.black {
    background: black;
    color: white;
}

#bingo, button {
    border-radius: 4px;
}

button {
    border-style: none;
}

#bingo, .tile {
    border: 5px solid black;
}

.tile:nth-child(25) {
    border-bottom-right-radius: 4px;
}

/* -----
 Layout
----- */

html, body {
    margin: 0;
    padding: 0;
    border: 0 none transparent;
}

body {
    margin-bottom: 5%;
}

#card {
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
}

#title {
    position: relative;
}

#title img {
    width: 100%;
}

#bingo {
    box-sizing: border-box;
    border-width: 5px 0 0 5px;
    border-style: solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tile {
    width: calc(20%);
    height: calc(20%);
    display: flex;
    box-sizing: border-box;
    border-width: 0 5px 5px 0;
    border-style: solid;
    padding: 5px;
}

.tile-text {
    margin: auto;
}

.noprint {
    position: absolute;
    top: 10px;
}
.noprint.right {
    right: 10px;
}
.noprint.left {
    left: 10px;
    padding: 4px 0; /* so the left one matches baseline with the right one and its buttons */
}

button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 8px;
}

button:active {
    position: relative;
    top: 1px;
}

@media screen and (max-width: 570px) {
    body, button {
        font-size: 11px;
        text-transform: unset;
        letter-spacing: 0;
    }

    #by {
        font-size: 8px;
    }

    #bingo {
        border-width: 3px 0 0 3px;
    }
    .tile {
        border-width: 0 3px 3px 0;
    }

    .desktop {
        display: none;
    }
}
